<a href="https://colab.research.google.com/github/eoinleen/Python-training/blob/main/menu_code_initial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

OK so this was the first task of the python corse on 3/12/24
It was to build a menu by putting together strings and varibles.
This was my first attempt.

A second better attempt was made using lists.

Notes on the day:
self-service-machine-demo. We want to define a menu with code
remember float are point numbers. ints are whole numbers.
strings are lists of names. Adding them is "concatonaton"
Built in functions in python can be used to do a variety of things. The function string will turn a float or int to a string str(int)

In [1]:
burger = 4.99
hot_sauce = 1.99
kebab = 2.99
assorted_parts = 12.43
rabbit = 14.40

dish1_name = "burger"
dish2_name = "hot_sauce"
dish3_name = "kebab"
dish4_name = "assorted_parts"
dish5_name = "rabbit"

#dish1_name + dish2_name
#burger + hot_sauce
print("Menu")
print("----------")
print(dish1_name + " £" + str(burger))
print(dish2_name + " £" + str(hot_sauce))
print(dish3_name + " £" + str(kebab))
print(dish4_name + " £" + str(assorted_parts))
print(dish5_name + " £" + str(rabbit))

Menu
----------
burger £4.99
hot_sauce £1.99
kebab £2.99
assorted_parts £12.43
rabbit £14.4