<a href="https://colab.research.google.com/github/eoinleen/Python-training/blob/main/menu_list_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3/12/24 python training
OK I was begining to struggle at this point. We were begning to explore numpy
* numpy is a powerful libary for numercal computing in python
* it is imported as below and always abvriated as np
* the script below first executes the importation of numpy in a code box. Oce ths is done we explore some very basic functions using a list of prices.

In [10]:
import numpy as np

In [6]:
dish_names = ["burger", "hot_sauce", "kebab","assorted_parts", "rabbit"]
dish_prices = [4.99, 1.99, 2.99, 12.43, 14.43]

print(np.max(dish_prices))
print(np.min(dish_prices))
print(np.mean(dish_prices))
print(np.std(dish_prices))
print(np.sum(dish_prices))
print(np.product(dish_prices))

14.43
1.99
7.366
5.084099133573224
36.83
5325.523066535101

* I'm trying to figure out how to append a list using numpy

In [24]:
dish_names1 = np.append(dish_names, ["chicken_nuggets", "breast_of_chicken"])
dish_prices1 = np.append(dish_prices, [9.12, 12.91])

for i in range(len(dish_names1)):
  print(dish_names1 [i] + " £" + str(dish_prices1 [i]))

burger £4.99
hot_sauce £1.99
kebab £2.99
assorted_parts £12.43
rabbit £14.43
chicken_nuggets £9.12
breast_of_chicken £12.91